
<div style="position: relative; left: -80px; height: 400px; width: 630px; background-color: #111111; border: solid 1px #555555;font-family: 'Microsoft YaHei'">
    <h3 style="margin: 0; padding: 5px 0; background-color: #222222; font-size: 1.8rem; font-weight: 100; text-align: center; color: #ffffff">添加任务-财经</h3>
    <form>
        <p class="align-center"><span style="font-size: 1.6rem; color: #2e8abe">任务名称：</span><input type="text" style="background-color: #1a1a19; border: solid 1px #333333"></p>
        <p class="align-center"><span style="font-size: 1.6rem; color: #2e8abe">关键词：</span> <input type="text" placeholder="多个关键词用逗号隔开，最多5个" style="background-color: #1a1a19; border: solid 1px #333333"></p>
        <p class="align-center font14"><span style="font-size: 1.6rem; color: #2e8abe">统计模式：</span> <input type=radio>任意关键词出现即统计</p>
        <p class="align-center"><span style="font-size: 1.6rem; color: #2e8abe">不包含关键词：</span> <input type="text" style="background-color: #1a1a19; border: solid 1px #333333"></p>
        <p class="align-center"><span style="font-size: 1.6rem; color: #2e8abe">任务有效期：</span> <input type="text" style="background-color: #1a1a19; border: solid 1px #333333"></p>
    </form>
</div>