<style>
    .dialog, .dialog * {
        font-family: 'Microsoft YaHei';
        font-size: 1.4rem;
        color: #999999;
    }
    input[type=text].form.field {
        background-color: #1a1a19;
        border: solid 1px #333333;
        width: 320px;
        height: 24px;
    }
    input[type=radio].form.field {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    input[type=radio].form.field+label {
        background: url("application/resource/images/icon_unselected.png") no-repeat;
        padding-left: 19px;
    }
    input[type=radio].form.field:checked+label {
        background-image: url("application/resource/images/icon_selected.png");
    }
    div.form.label {
        font-size: 1.6rem;
        color: #2e8abe;
        width: 120px;
        display: inline-block;
        margin-left: 50px;
        text-align: right;
    }
    div.form.row {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 5px;
        border: 1px solid #111111;
    }
    .form.row.error {
        background-color: rgb(71, 39, 39);
        border: 1px solid rgb(144, 58, 58);
    }
    input::-webkit-input-placeholder { /* WebKit browsers */
        color: #444;
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #444;
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #444;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #444;
    }
    .form.row .add.task.button {
        border: solid 1px #333333;
        background-color: #1a1a19;
        color: #2e8abe;
        height: 24px;
        width: 60px;
        border-left-width: 0;
    }
    #num-of-left-task {
        color: #dc0000;
    }
    .keyword.selected {
        background-color: #333333;
        padding: 3px 5px 3px 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }
    button.keyword.close {
        background: url("application/resource/images/icon_close.png") no-repeat transparent;
        width: 11px;
        height: 11px;
        border-width: 0;
        margin-left: 5px;
    }
    .keywords.selected {
        width: 320px;
        margin-left: 174px;
        margin-top: 8px;
        min-height: 20px;
    }
    input[type=submit], input.cancel {
        width: 80px;
        height: 30px;
        border-radius: 3px;
        border-width: 0;
        background-color: #327cc0;
        color: #ffffff;
        font-size: 1.5rem;
        position: absolute;
        bottom: 30px;
    }
    input[type=submit] {
        right: 120px;
    }
    input.cancel {
        background-color: #555555;
        right: 30px;
    }
    .ngdialog-content {
        width :550px !important;
    }
</style>
<div class="dialog" style="position: relative; left: -80px; height: 520px; width: 630px; background-color: #111111; border: solid 1px #555555;">
    <h3 style="margin: 0; padding: 5px 0; background-color: #222222; font-size: 1.8rem; font-weight: 100; text-align: center; color: #ffffff">添加任务</h3>
    <p style="color: red; margin: 0 auto; text-align: center; min-height: 26px"></p>
    <form>
        <div class="form row">
            <div class="form label">任务名称：</div>
            <input type="text" class="form field" placeholder="上证" id="task-name">
        </div>
        <div class="form row">
            <div class="form label">关键词：</div>
            <input type="text" id="included-keywords" class="form field" placeholder="多个关键词用逗号隔开，最多5个"><input type="button" value="添加" ng-click="addKeywords('in')" class="add task button">
            <div class="keywords selected">
                <span class="keyword selected" ng-repeat="keyword in includedKeywords">
                    {{keyword.name}}<button class="keyword close" ng-click="deleteKeyword('in', $index)"></button>
                </span>
            </div>
        </div>
        <div class="form row font14">
            <div class="form label">统计模式：</div>
            <input type=radio class="form field" name="keywords-rule" id="any-keyword" value="0"><label for="any-keyword"> 任意关键词出现即统计</label>
            <input type=radio class="form field" name="keywords-rule" id="all-keywords" value="1"><label for="all-keywords"> 所有关键词都出现才统计</label>
        </div>
        <div class="form row">
            <div class="form label">不包含关键词：</div>
            <input type="text" id="excluded-keywords" class="form field" placeholder="多个关键词用逗号隔开，最多5个"><input type="button" value="添加" ng-click="addKeywords('ex')" class="add task button">
            <div class="keywords selected">
                <span class="keyword selected" ng-repeat="keyword in excludedKeywords">
                    {{keyword.name}}<button class="keyword close" ng-click="deleteKeyword('ex', $index)"></button>
                </span>
            </div>
        </div>
        <div class="form row">
            <div class="form label">任务有效期：</div>
            <span>2014-12-05 09:30</span>
        </div>
        <div class="form row">
            <div class="form label">消费说明：</div>
            <img src="application/resource/images/icon_tip.png">
            可用剩余任务 <span id="num-of-left-task">1</span> 次
        </div>
        <input type="submit" value="保存" ng-click="saveTask()">
        <input type="button" class="cancel" ng-click="closeThisDialog()" value="取消">
    </form>
</div>