<script type="text/javascript" src="application/resource/js/config/financialSentimentChartsConfig.js"></script>
<div class="container clearfix">
    <div class="list">
        <ul>
            <li class="item add-task" ng-click="addTask()">
                <p class="task-name"><img src="application/resource/images/icon_add.png" class="icon-add">添加任务</p>
            </li>
            <li class="item" ng-repeat="task in taskList" ng-class="{blue: currentTaskId == task.task_id}" ng-click="switchTask($index)">
                <p class="task-name">{{task.task_name}}</p>
                <p class="task-keywords">{{task.keywords}}</p>
                <img class="delete-icon" src="application/resource/images/icon_delete.png" ng-click="deleteTask(task.usrid, task.task_id)">
            </li>
        </ul>
    </div>
    <div class="right-container">
        <div class="bar">
            <ul>
                <li ng-class="{active: period == 0}" ng-click="switchPeriod(0)">最近一周</li>
                <li ng-class="{active: period == 1}" ng-click="switchPeriod(1)">最近两周</li>
                <li ng-class="{active: period == 2}" ng-click="switchPeriod(2)">最近一月</li>
                <!--<li ng-class="{active: period == 3}" ng-click="period = 3">全部</li>-->
            </ul>
        </div>
        <div class="chart-container" style="height: 420px;">
            <div class="top">
                <div style="float: left; width: 700px; border-right: solid 1px #222222">
                    <div id="sentiment-chart-f"></div>
                    <div id="weibo-count-chart-f"></div>
                </div>
                <div class="wb-container">
                    <h3 class="h3">关联微博</h3>
                    <p class="subtitle-wb">
                        <span class="title-topic">话题</span>
                        <span class="title-sentiment">话题情感</span>
                        <span class="title-stock">相关股票</span>
                    </p>
                    <ul class="wb-list">
                        <li class="wb-single clearfix" ng-repeat="weibo in relatedWeibo">
                            <div class="wb-img">
                                <p class="img-title">{{ weibo[0] }}</p>
                            </div>
                            <div class="wb-sentiment">
                                <p  ng-repeat="stock in weibo[1]" class=" {{stock[1] | emotion}} mr0" style="margin-bottom: 8px;" ng-if="$index < 2"></p>
                            </div>
                            <div class="wb-stock">
                                <p class="mr0" ng-repeat="stock in weibo[1]" ng-if="$index < 2">{{stock[0]}},</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pull-left">
            <div id="relationship-network" style="width: 600px; height: 250px; margin-top: 20px; margin-left: 20px"></div>
        </div>
        <div class="pull-left">
            <div id="topic-emotion-percent" style="width: 200px; height: 220px;margin: 20px 10px 0 30px;"></div>
        </div>
        <div class="pull-left">
            <div id="topic-involved-fans" style="width: 200px; height: 220px;margin-top: 20px;"></div>
        </div>
    </div>
</div>
