<div class="container clearfix">
    <div class="list">
        <ul>
            <li class="item add-stock" ng-click="addStock()">
                <p class="stock-name"><img src="application/resource/images/icon_add.png" class="icon-add">添加股票</p>
            </li>
            <li class="item" ng-repeat="stock in stockList">
                <p class="stock-name">{{stock.stock_name}}</p>
                <p class="stock-id">{{stock.stock_code}}</p>
                <img class="delete-icon" src="application/resource/images/icon_delete.png">
            </li>
        </ul>
    </div>
    <div class="right-container">
        <div class="bar">
            <ul>
                <li ng-class="{active: period == 0}" ng-click="switchPeriod(0)">最近一周</li>
                <li ng-class="{active: period == 1}" ng-click="switchPeriod(1)">最近两周</li>
                <li ng-class="{active: period == 2}" ng-click="switchPeriod(2)">最近一月</li>
                <li ng-class="{active: period == 3}" ng-click="switchPeriod(3)">全部</li>
            </ul>
        </div>
        <div class="chart-container">
            <div class="top">
                <div style="float: left; width: 700px; border-right: solid 1px #222222">
                    <div id="sentiment-chart"></div>
                    <div id="weibo-count-chart"></div>
                </div>
                <div class="wb-container">
                    <h3 class="h3">关联微博</h3>
                    <p class="subtitle-wb">
                        <span class="title-topic">话题</span>
                        <span class="title-sentiment">话题情感</span>
                        <span class="title-stock">相关股票</span>
                    </p>
                    <ul class="wb-list">
                        <li class="wb-single clearfix" ng-repeat="weibo in relatedWeibo">
                            <div class="wb-img">
                                <p class="img-title">{{ weibo.title }}</p>
                            </div>
                            <div class="wb-sentiment">
                                {{ weibo.up | sentimentFilter:$index:"up" }}
                                {{ weibo.down | sentimentFilter:$index:"down" }}
                            </div>
                            <div class="wb-stock">
                                <p class="mr0" ng-repeat="stock in weibo.related">{{stock}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-left related-stock-container">
        <h3 class="h3">关键词影响度分析图</h3>
        <input class="keyword-input" placeholder="请输入关键词，查阅该事件对贵州茅台的影响度"/>
    </div>
    <div class="pull-left keyword-container">
        <h3 class="h3">社交关键词</h3>
        <span ng-repeat="keyword in SNSKeyword" class="inline-block" ng-class="keyword.classes">{{ keyword.keyword }}</span>
    </div>
    <div class="pull-left rank-container">
        <h3 class="h3">关注度排名</h3>
        <div id="hot-ranking-chart"></div>
    </div>
</div>