/*
* Created by PhpStorm.
* User: ruby
* Date: 2015/6/12
* Time: 15:18
*/

/* --- 公用部分 --- */
*, :after, :before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    min-width: 980px;
    padding: 0;
    margin: 0;
    font: 1.6rem/1.3 'Arial','Microsoft YaHei';
    background-color: #171716;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.font14 {
    font-size: 1.4rem;
}
.font16 {
    font-size: 1.6rem;
}
.font20 {
    font-size: 2.0rem;
}
.font24 {
    font-size: 2.4rem;
}
.align-center {
    text-align: center;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;

}
.mr0 {
    margin: 0;
}
.pull-left {
    display: inline-block;
    float: left;
}
.inline-block {
    display: inline-block;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #333333;
}
/* --- 公用部分 end --- */
#nav {
    padding: 10px;
    background-color: #2b2a2a;
}
#nav a {
    color: #969696;
    text-decoration: none;
}

#nav li {
    display: inline-block;
    margin: 0 15px;
}
#nav li.active a{
    color: #2a93f6;
}
.page {
    padding: 5px 5px 20px;
}
.container {
    padding-left: 227px;
}
.container .list {
    display: inline-block;
    margin-left: -232px;
    width: 227px;
    height: 800px;
    overflow-y: auto;
}
.container .list .item {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 20px;
    margin-bottom: 2px;
    text-align: left;
    background-color: #242322;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
}
/*.container .list .add-stock, .container .list .add-task {*/
    /*text-align: center;*/
    /*line-height: 50px;*/
/*}*/
/*.add-stock .icon-add, .add-task .icon-add {*/
    /*position: relative;*/
    /*top: 5px;*/
    /*margin-right: 10px;*/
/*}*/
/*.container .list .item:hover {*/
    /*background-color: #327cc0;*/
/*}*/
/*.container .list .add-stock:hover, .container .list .add-task:hover {*/
    /*background-color: #242322;*/
/*}*/
/*.container .list .delete-icon {*/
    /*position: relative;*/
    /*top: -10px;*/
    /*float: right;*/
    /*display: none;*/
/*}*/
/*.container .list .item:hover .delete-icon {*/
    /*display: inline-block;*/
/*}*/
/*.item:hover .stock-id {*/
    /*color: #ffffff;*/
/*}*/
/*.stock-name, .stock-id, .task-name, .task-keywords {*/
    /*margin: 0;*/
/*}*/
/*.stock-id, .task-keywords {*/
    /*margin-top: 10px;*/
    /*font-size: 1.4rem;*/
    /*color: #777777;*/
/*}*/
.container .list .add-stock {
    text-align: center;
    line-height: 50px;
}
.add-stock .icon-add {
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.container .list .item.blue {
    background-color: #327cc0;
}
.container .list .item:hover {
    background-color: #327cc0;
}
.container .list .add-stock:hover {
    background-color: #242322;
}
.container .list .delete-icon {
    position: relative;
    top: -10px;
    float: right;
    display: none;
}
.container .list .item:hover .delete-icon {
    display: inline-block;
}
.container .list .item.blue .stock-id, .item:hover .stock-id {
    color: #ffffff;
}
.stock-name, .stock-id {
    margin: 0;
}
.stock-id {
    margin-top: 10px;
    font-size: 1.4rem;
    color: #777777;
}
.right-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    border-bottom: solid 1px #222222;
}
.bar {
    padding: 6px 25px;
    background-color: #2b2a2a;
}
.bar li {
    display: inline-block;
    margin-right: 30px;
    color: #999999;
    font-size: 1.4rem;
    cursor: pointer;
}
.bar li.active {
    color: #327cc0;
}
.chart-container {
    margin-left: 20px;
}
.chart-container .top {
    padding: 10px 0;
}
#sentiment-chart {
    display: inline-block;
    width: 700px;
    height: 100px;
}
#weibo-count-chart {
    display: inline-block;
    width: 700px;
    height: 300px;
}
#hot-ranking-chart {
    width: 350px;
    height: 150px;
}
.wb-container{
    display: inline-block;
    width: 327px;
    vertical-align: top;
    padding-left: 10px;
}
.h3 {
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 100;
    color: #ffffff;
}
.subtitle-wb {
    font-size: 1.4rem;
    color: #69bfde;
}
.subtitle-wb .title-topic {
    display: inline-block;
    width: 160px;
}
.subtitle-wb .title-sentiment {
    display: inline-block;
    width: 70px;
}
.subtitle-wb .title-stock {
    display: inline-block;
    width: 70px;
}
.wb-list {
    max-height: 320px;
    overflow-y: scroll;
    margin-left: -5px;
}
.wb-single {
    padding: 5px;
    border-bottom: solid 1px #222222;
}
.wb-img {
    position: relative;
    float: left;
    width: 150px;
    height: 70px;
    margin-right: 10px;
    background-color: #2a93f6;
}
.wb-img .img-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin: 0;
    background-color: rgba(0,0,0,.8);
    font-size: 1.4rem;
    color: #cccccc;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}
.wb-sentiment {
    float: left;
    width: 70px;
    padding-top: 10px;
}
.wb-stock {
    float: right;
    width: 68px;
    padding-top: 10px;
    text-align: center;
    color: #cccccc;
    font-size: 1.4rem;
}
.related-stock-container {
    padding-left: 20px;
    width: 340px;
    margin-right: 40px;
}
.related-stock-container .keyword-input {
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding-left: 5px;
    border: solid 1px #333333;
    background: #1a1a19 url("../images/icon_search.png") no-repeat right 4px;
    font-size: 0.4rem;
    color: #cccccc;
}
.related-stock-container .keyword-input::-webkit-input-placeholder {
    color: #555555 !important;
}
.related-stock-container .keyword-input:-moz-placeholder {
    color: #555555 !important;
}
.related-stock-container .keyword-input::-moz-placeholder {
    color: #555555 !important;
}
.related-stock-container .keyword-input:-ms-input-placeholder {
    color: #555555 !important;
}
.keyword-container {
    width: 250px;
    margin-right: 40px;
}
.keyword-container .red {
    margin-right: 20px;
    color: #d63b3b;
}
.keyword-container .sliver {
    margin-right: 20px;
    color: #999999;
}
.keyword-container .green{
    margin-right: 20px;
    color: #4f803a;
}
.rank-container {
    width: 250px;
}
#footer {
    text-align: center;
    padding: 6px 0;
    border-top: solid 4px #111111;
    color: #555555;
    font-size: 1.4rem;
}
#footer .link {
    margin-right: 40px;
}

/*-- weibo analysis --*/
.weibo.analysis.bar li {
    margin-right: 60px;
}
.ui.grid.weibo.analysis {
    padding-left: 15px;
    width: 1440px;
    margin-top: 5px;
}
.ui.grid.weibo.analysis .column.left {
    width: 1000px;
    height: 800px;
    overflow-y: scroll;
}
.ui.grid.weibo.analysis .column.right {
    width: 410px;
    padding-left: 40px;
}
.ui.grid.weibo.analysis table,
.ui.grid.weibo.analysis div.affect,
.ui.grid.weibo.analysis div.title{
    color: #CCCCCC !important;
    font-size: 1.4rem;
    line-height: 18px;
}
.ui.grid.pics .column {
    padding: 5px 5px 5px 5px !important;
    width: 240px;
}
.ui.box {
    box-sizing: content-box;
    padding: 10px 10px 10px 10px;
    background-color: #2B2A2A;
    width: 220px;
    height: 277px;
    display: none;
}
.ui.box .inner-box {
    height: 170px;
    margin-bottom: 10px;
    overflow: hidden;
    background-size: cover;
}
.inner-box .title {
    width: 200px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    bottom: 117px;
    background: rgba(0, 0, 0, 0.7);
}
.ui.box .affect {
    height: 55px;
}
.ui.box .affect span.label {
    color: #69bfde;
}
.rank.table {
    height: 400px;
    display: none;
}
.weibo.analysis table {
    background-color: transparent !important;
}
.weibo.analysis table.up {
    margin-bottom: 40px;
}
.weibo.analysis table th {
    padding: 5px 0 5px 0 !important;
    border-bottom: none !important;
    font-weight: normal !important;
    font-size: 1.4rem;
    color: #69bfde !important;
}
.weibo.analysis table td{
    border-top: none !important;
    border-bottom: 1px solid #222222 !important;
    padding: 5px 0 5px 0 !important;
}
.weibo.analysis table th.rank { width: 11%; }
.weibo.analysis table th.stock.name { width: 20%; }
.weibo.analysis table th.influence { width: 18%; }
.weibo.analysis table th.emotion { width: 23%; }
.weibo.analysis table th.topics { width: 28%; }
.weibo.analysis table td div.rank {
    text-align: center;
    background-color: #ca6c2c;
    height: 18px;
    width: 18px;
    border-radius: 3px;
}
.weibo.analysis table td div.emotion.up,.emotion.up {
    height: 11px;
    background-image: url("../images/icon_up.png");
    background-repeat:repeat-x;
}
.weibo.analysis table td div.emotion.down, .emotion.down {
    height: 11px;
    background-image: url("../images/icon_down.png");
    background-repeat:repeat-x;
}
.emotion.one { width: 11px; }
.emotion.two { width: 22px; }
.emotion.three { width: 33px; }
.emotion.four { width: 44px; }
.emotion.five { width: 55px; }
.weibo.analysis table td.stock.name {
    color: #327cc0;
}
.table.title {
    font-size: 1.6rem !important;
}
/* -- end of weibo analysis -- */

div.form.row {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.form.label {
    font-size: 1.6rem;
    color: #2e8abe;
    display: inline-block;
    text-align: right;
}
input[type=text].form.field {
    background-color: #1a1a19;
    border: solid 1px #333333;
    width: 150px;
    height: 24px;
    color: #fff;
}

.stock-select-item {
    color: #ccc;
    font-size: 1.4rem;
    text-align: center;
}

.stock-select-item:hover {
    cursor: pointer;
    background-color: #333;
}
.as-save-button {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 40px 10px 0 30px;
    text-align: center;
    color: #fff;
    background-color: #327cc0;
    border-radius: 2px;
    cursor: pointer;
}

.as-close-button {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #555;
    border-radius: 2px;
    cursor: pointer;
}